<mat-card class="invoice-card">
  <!-- Header -->
  <div class="invoice-header">
    <h2>Create Invoice</h2>
    <span class="invoice-number"> Invoice #: {{ invoiceNumber }} </span>
  </div>

  <form [formGroup]="invoiceForm">
    <!-- Patient Details -->
    <div class="section">
      <h3>Doctor Details</h3>

      <div class="row">
        <mat-form-field appearance="outline" class="col-md-6">
          <mat-label>Doctor Name</mat-label>
          <span matPrefix style="margin-left: 20px;">Dr.&nbsp;</span>
          <input matInput formControlName="patientName" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-6">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="patientPhone" />
        </mat-form-field>
      </div>
    </div>

    <!-- Treatments -->
    <div class="section">
      <h3>Work</h3>

      <div formArrayName="items">
        <div
          class="treatment-row"
          *ngFor="let item of items.controls; let i = index"
          [formGroupName]="i"
        >
          <!-- Date -->
          <mat-form-field appearance="outline" class="date-field">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker"  [max]="today" formControlName="date" />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <!-- Work -->
          <mat-form-field appearance="outline" class="work-field">
            <mat-label>Work</mat-label>
            <input matInput formControlName="treatment" />
          </mat-form-field>

          <!-- Qty -->
          <mat-form-field appearance="outline" class="qty-field">
            <mat-label>Qty</mat-label>
            <input matInput type="number" formControlName="quantity" />
          </mat-form-field>

          <!-- Price -->
          <mat-form-field appearance="outline" class="price-field">
            <mat-label>Price</mat-label>
            <input matInput type="number" formControlName="price" />
          </mat-form-field>

          <button
            mat-icon-button
            color="warn"
            type="button"
            (click)="removeItem(i)"
            *ngIf="items.length > 1"
          >
            ✕
          </button>
        </div>
      </div>

      <button mat-stroked-button type="button" (click)="addItem()">
        + Add Treatment
      </button>
    </div>

    <!-- Total -->
    <div class="total-section">
      <span>Subtotal</span>
      <strong>₹ {{ getSubtotal() | number: "1.2-2" }}</strong>
    </div>

    <!-- Actions -->
    <div class="actions">
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="previewInvoice()"
      >
        Preview Invoice
      </button>
    </div>
  </form>
</mat-card>
